.mstheme
{
	separator-image: url(hr.gif);
	list-image-1: url(bullet1.gif);
	list-image-2: url(bullet2.gif);
	list-image-3: url(bullet3.gif);
	nav-banner-image: url(bnr.gif);
	navbutton-horiz-normal: url(nav.gif);
	navbutton-horiz-hovered: url(nav_h.gif);
	navbutton-horiz-pushed: url(nav_s.gif);
	navbutton-vert-normal: url(nav.gif);
	navbutton-vert-hovered: url(nav_h.gif);
	navbutton-vert-pushed: url(nav_s.gif);
	navbutton-home-normal: url(back.gif);
	navbutton-home-hovered: url(back_h.gif);
	navbutton-home-pushed: url(blhomep.gif);
	navbutton-next-normal: url(next.gif);
	navbutton-next-hovered: url(next_h.gif);
	navbutton-next-pushed: url(blnextp.gif);
	navbutton-prev-normal: url(back.gif);
	navbutton-prev-hovered: url(back_h.gif);
	navbutton-prev-pushed: url(blprevp.gif);
	navbutton-up-normal: url(up.gif);
	navbutton-up-hovered: url(up_h.gif);
	navbutton-up-pushed: url(blupp.gif);
}
.mstheme-bannertxt
{
	color: rgb(255, 255, 255);
	font-size: 3;
	font-style: normal;
	font-weight: bold;
	text-align: left
}
.mstheme-horiz-navtxt
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle
}
.mstheme-vert-navtxt
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxthome
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal
}
.mstheme-navtxtnext
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal
}
.mstheme-navtxtprev
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal
}
.mstheme-navtxtup
{
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal
}
ul
{
	list-style-image: url('bullet1.gif');
}
ul ul
{
	list-style-image: url('bullet2.gif');
}
ul ul ul
{
	list-style-image: url('bullet3.gif');
}
a:link
{
	color: rgb(51, 153, 255);
}
a:active
{
	color: rgb(0, 0, 128);
}
a:visited
{
	color: rgb(64, 128, 128);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(123, 123, 123);
	table-border-color-dark: rgb(123, 123, 123);
	border-color: rgb(123, 123, 123);
}
th
{
	border-color: rgb(123, 123, 123);
}
td
{
	border-color: rgb(123, 123, 123);
}
h1
{
	color: rgb(0, 64, 64);
}
h2
{
	color: rgb(64, 128, 128);
}
h3
{
	color: rgb(64, 128, 128);
}
h4
{
	color: rgb(0, 0, 0);
}
h5
{
	color: rgb(0, 0, 0);
}
h6
{
	color: rgb(0, 0, 0);
}
hr
{
}
button
{
}
label
{
}
.mstheme-text
{
}
textarea
{
}
fieldset
{
}
legend
{
}
select
{
}
caption
{
}
.mstheme
{
	navbutton-background-color: rgb(255,255,255);
	top-bar-button: url(gbtn.gif);
}
.mstheme-topbar-font
{
	color: rgb(0,0,0);
	font-size: 8pt
}
body
{
	background-image: url('bg.gif');
	
}
h1
{
	
}
h2
{
	
}
h3
{
	
}
h4
{
	
}
h5
{
	
}
h6
{
	
}
