.mstheme
{
	navbutton-background-color: rgb(255,255,255);
	top-bar-button: url(gbtn.gif);
}
.mstheme-topbar-font
{
	color: rgb(0,0,0);
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
}
body
{
	background-image: url(bg.gif);
	font-family: verdana, Arial, Helvetica;
}
h1
{
	font-family: verdana, Arial, Helvetica;
}
h2
{
	font-family: verdana, Arial, Helvetica;
}
h3
{
	font-family: verdana, Arial, Helvetica;
}
h4
{
	font-family: verdana, Arial, Helvetica;
}
h5
{
	font-family: verdana, Arial, Helvetica;
}
h6
{
	font-family: verdana, Arial, Helvetica;
}
